<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.persist.ProductMapper">
    <select id="getProduct" parameterType="long" resultType="product">
        select id,produc_name as productName,stock,price,version,note from product
        where id=#{id}
    </select>

    <update id="decreaseProduct">
        update product set stock = stock - #{quantity}
        where id=#{id}
    </update>
</mapper>